.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#list li {
    position: relative;
    padding-right: 25px;
    margin-bottom: 10px;
    list-style-type: none;
}

#list li .delete-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 18px;
    color: red;
    font-weight: bold;
}

#list li:hover .delete-btn {
    display: block;
}